/* Console --------------------------------------------- */

body {
    //background-color: white;
    font-family:"courier";
    font-size: 120%;
}



#commands {
    font-family: Arial;
    font-size: 80%;
}

#commands .code {
    font-family:monospace;
}


#console {
    color: rgb(50,255,50);
    height: 400px;
    width: 100%;
    background-color: black;
}

#console div.jquery-console-inner { 
    height:100%; 
    margin: 10px 10px;
    overflow:auto; 
    text-align:left;
}
#console div.jquery-console-message-value {
    color:rgb(50,255,50); 
    font-family:monospace;
    padding:0.1em; 
}
#console div.jquery-console-prompt-box {
  color:rgb(50,255,50); font-family:monospace; 
}
#console div.jquery-console-focus span.jquery-console-cursor {
  background:rgb(50,255,50); color:green; font-weight:bold;
}
#console div.jquery-console-message-error {
  color:#ef0505; font-family:sans-serif; font-weight:bold;
  padding:0.1em; 
}
#console div.jquery-console-message-success {
  color:#187718; font-family:monospace;
  padding:0.1em; 
}
#console span.jquery-console-prompt-label { 
  font-weight:bold;
}

